<a href="https://colab.research.google.com/github/ciepielajan/SDA_SMOG_Wawelski/blob/main/Jan/SDA_2021_04_11_Projekt_koncowy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Załadowanie plików

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [4]:
!gdown --id "186S03hFJ67K4eV1BWb2_6lZxAYG7dBM4"

Downloading...
From: https://drive.google.com/uc?id=186S03hFJ67K4eV1BWb2_6lZxAYG7dBM4
To: /content/archive.zip
2.39MB [00:00, 70.6MB/s]

In [5]:
!unzip -q "archive.zip" -d data/

In [6]:
all_file_names = glob.glob("data/*2017.csv")
all_file_names = sorted(all_file_names)
for counter, file in enumerate(all_file_names):
    print(counter, file)

0 data/april-2017.csv
1 data/august-2017.csv
2 data/december-2017.csv
3 data/february-2017.csv
4 data/january-2017.csv
5 data/july-2017.csv
6 data/june-2017.csv
7 data/march-2017.csv
8 data/may-2017.csv
9 data/november-2017.csv
10 data/october-2017.csv
11 data/september-2017.csv

In [7]:
jan = pd.read_csv(all_file_names[4])
feb = pd.read_csv(all_file_names[3])
mar = pd.read_csv(all_file_names[7])
apr = pd.read_csv(all_file_names[0])
may = pd.read_csv(all_file_names[8])
jun = pd.read_csv(all_file_names[6])
jul = pd.read_csv(all_file_names[5])
aug = pd.read_csv(all_file_names[1])
sep = pd.read_csv(all_file_names[11])
octo = pd.read_csv(all_file_names[10])
nov = pd.read_csv(all_file_names[9])
dec = pd.read_csv(all_file_names[2])

In [8]:
dec.head(1)

              UTC time  3_temperature  3_humidity  ...  895_pm1  895_pm25  895_pm10
0  2017-12-01T00:00:00            NaN         NaN  ...       34        36        66

[1 rows x 337 columns]

In [9]:
sensors = pd.read_csv("data/sensor_locations.csv")

In [10]:
sensors[:3]

    id   latitude  longitude
0    3  50.057748  19.961375
1  140  50.057747  19.961374
2  142  50.084816  19.878066

2 Połączenie wszystkich df

In [11]:
year = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec])

In [12]:
year.shape

(8593, 337)

In [13]:
year.head(2)

              UTC time  3_temperature  3_humidity  ...  895_pm1  895_pm25  895_pm10
0  2017-01-01T00:00:00            NaN         NaN  ...      NaN       NaN       NaN
1  2017-01-01T01:00:00            NaN         NaN  ...      NaN       NaN       NaN

[2 rows x 337 columns]

3 Transformacja df

In [14]:
year["UTC time"] = pd.to_datetime(year["UTC time"], format="%Y-%m-%dT%H:%M:%S")
year[:3]

             UTC time  3_temperature  3_humidity  ...  895_pm1  895_pm25  895_pm10
0 2017-01-01 00:00:00            NaN         NaN  ...      NaN       NaN       NaN
1 2017-01-01 01:00:00            NaN         NaN  ...      NaN       NaN       NaN
2 2017-01-01 02:00:00            NaN         NaN  ...      NaN       NaN       NaN

[3 rows x 337 columns]

In [15]:
year = year.set_index("UTC time")
year[:3]

                     3_temperature  3_humidity  ...  895_pm25  895_pm10
UTC time                                        ...
2017-01-01 00:00:00            NaN         NaN  ...       NaN       NaN
2017-01-01 01:00:00            NaN         NaN  ...       NaN       NaN
2017-01-01 02:00:00            NaN         NaN  ...       NaN       NaN

[3 rows x 336 columns]

In [16]:
year.index[:3]

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:00:00',
               '2017-01-01 02:00:00'],
              dtype='datetime64[ns]', name='UTC time', freq=None)

In [17]:
new_df = pd.DataFrame()

In [18]:
for i in year.groupby(year.columns.str.split('_').str[0], axis=1):
  old = i[1].columns
  new = i[1].columns.str.split("_").str[1]
  zmiana = { k:v  for k,v in zip(old,new)}
  i[1].rename(columns=zmiana,inplace=True)
  i[1]["id"] = i[0]
  new_df = new_df.append(i[1])
  # print(i[1])

In [19]:
new_df[:-3]

                     temperature  humidity  pressure   pm1  pm25  pm10   id
UTC time
2017-01-01 00:00:00          NaN       NaN       NaN   NaN   NaN   NaN  140
2017-01-01 01:00:00          NaN       NaN       NaN   NaN   NaN   NaN  140
2017-01-01 02:00:00          NaN       NaN       NaN   NaN   NaN   NaN  140
2017-01-01 03:00:00          NaN       NaN       NaN   NaN   NaN   NaN  140
2017-01-01 04:00:00          NaN       NaN       NaN   NaN   NaN   NaN  140
...                          ...       ...       ...   ...   ...   ...  ...
2017-12-24 17:00:00          5.0      92.0  101795.0  21.0  27.0  49.0  895
2017-12-24 18:00:00          5.0      88.0  101774.0  17.0  20.0  35.0  895
2017-12-24 19:00:00          5.0      88.0  101777.0  15.0  18.0  32.0  895
2017-12-24 20:00:00          5.0      85.0  101798.0  13.0  15.0  26.0  895
2017-12-24 21:00:00          5.0      85.0  101840.0  12.0  13.0  23.0  895

[481205 rows x 7 columns]

4 EDA

4.1. Ile jest Nan w danych kolumnach

4.2. Czy można znaleźć brakujące dane lub czymś je zastąpić

5 Zmiana danych na kategoryczne - Rozbicie TimeSeries na dzień, miesiąc etc

6 Normalizacja współrzędnych - Standard scaller lub wzór (-50x1000)

7 Predykcja - szukanie najlepszego modelu

7.1 Regresja liniowa

7.1.2 Podstawowy model

7.1.3 Dostrajanie modelu np grid search

7.2 Predykcja TimeSeries

7.2.1 arima (pmd arima auto-arima)

7.2.2 Profet

7.3 RNN

7.3.1 LSTM

7.3.1.1 LSTM - Podstawowy

7.3.1.2 LSTM - Dwukierunkowy

7.3.2 GRU

7.3.2.1 GRU - Podstawowy

7.3.2.2 GRU - Dwukierunkowy

8 Zestawienie wyników predykcji - wybranie najlepszego modelu do predykcji

9 Obliczenie predykcji dla nowej daty dla wszystkich punktów pomiarowych np 2018.01.21

10 Prototyp

10.1 Utworzenie siatki punktów w na terenie całego krakowa zlokalizowanych co 500m

10.2 Obliczenie predykcji dla wszystkich stacji pomiarowych dla 2018.01.21

10.3 Utworzenie modelu K-najbliższych sąsiadów -regression (odległość, haversine distance- odległość km )