<a href="https://colab.research.google.com/github/ciepielajan/SDA_SMOG_Wawelski/blob/main/Jan/SDA_2021_04_24_LSTM_Multiple_Parallel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Możliwości:
1. `Multiple Parallel` - zastosowanie jednego modelu LSTM dla wszystkich sensorów korzystajac z wielu równoległych obserwacji pm10 (tylko pm10)
* 1.  minus - duża ilość braków danych, każdy sensor zaczynał działanie w innym czasie. konieczność sztucznego uzupełeniania brakujacych wartości
* 2.  minus - brak możlisości łaczenia pm10 z innymi czynnikami jak temp, ciśnienie itd.
2. zastosowanie jednego modelu LSTM dla każdego z sensora osobno:
* 1.  `Singlevariate` - samo pm10
* 2.  `Multivariate` - pm10 + dodatkowe parametry (np: temp, ćiśnienie, srednia krocząca obserwacji, zaludnienie itd)

---

założenia:
* implementacja modelu `LSTM - Multiple Parallel`
* time series zawiera braki pomiarów dla niektórych sensorów. 
* * aby przetestować działanie LSTM używamy "ułatwienia" uzupełniajac brakujące obserwacje metodą `.interpolate()`, z parametrami `method='linear', axis=1`
* * *  aby wyniki były najbardziej zbliżone do prawdziwych można zastosować model K-najbliższych dla lokazliacji sensorów. 
* *  * drugą możliwością jest rezygnacja z interpolacji brakujacych obserwacji i obliczanie modelu LSTM dla każdego sensora osobno na okresie czasowym z którego sa wszystkie obserwacje.

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [2]:
# !gdown --id "186S03hFJ67K4eV1BWb2_6lZxAYG7dBM4"
# !unzip -q "archive.zip" -d data/
all_file_names = glob.glob("data/*2017.csv")
all_file_names = sorted(all_file_names)

jan = pd.read_csv(all_file_names[4])
feb = pd.read_csv(all_file_names[3])
mar = pd.read_csv(all_file_names[7])
apr = pd.read_csv(all_file_names[0])
may = pd.read_csv(all_file_names[8])
jun = pd.read_csv(all_file_names[6])
jul = pd.read_csv(all_file_names[5])
aug = pd.read_csv(all_file_names[1])
sep = pd.read_csv(all_file_names[11])
octo = pd.read_csv(all_file_names[10])
nov = pd.read_csv(all_file_names[9])
dec = pd.read_csv(all_file_names[2])

year = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec])
year["UTC time"] = pd.to_datetime(year["UTC time"], format="%Y-%m-%dT%H:%M:%S")
year = year.set_index("UTC time")
year.shape

Downloading...
From: https://drive.google.com/uc?id=186S03hFJ67K4eV1BWb2_6lZxAYG7dBM4
To: /content/archive.zip
2.39MB [00:00, 72.1MB/s]

(8593, 336)

In [3]:
year.head(2)

                     3_temperature  3_humidity  ...  895_pm25  895_pm10
UTC time                                        ...
2017-01-01 00:00:00            NaN         NaN  ...       NaN       NaN
2017-01-01 01:00:00            NaN         NaN  ...       NaN       NaN

[2 rows x 336 columns]

Pobranie nazw wszytkich kolumn reprezentujących pm10

In [4]:
columns_pm10 = [ i  for i in year.columns if  i.split("_")[1] == "pm10"]
year_pm10 = year[columns_pm10]
year_pm10[:3]

                     3_pm10  140_pm10  142_pm10  ...  808_pm10  857_pm10  895_pm10
UTC time                                         ...
2017-01-01 00:00:00     NaN       NaN     196.0  ...       NaN       NaN       NaN
2017-01-01 01:00:00     NaN       NaN     180.0  ...       NaN       NaN       NaN
2017-01-01 02:00:00     NaN       NaN     189.0  ...       NaN       NaN       NaN

[3 rows x 56 columns]

łączna ilość nulli

In [5]:
"ilość nulli",year_pm10.isnull().sum().sum()

('ilość nulli', 92832)

In [6]:
# year_pm10.plot(figsize=(25,50), legend=True, subplots=True)
# plt.savefig('time-series-pm10_before_interpolate.png')
# plt.show()
# plt.close()

posortujmy kolumny wg ilości nulli aby zacząć inerpolacje od kolumn które mają najwiecej obserwacji. Konieczna będzie ponowana interpolacja per sensor aby uzupełnić pozostałe braki.

pierwsza interpolacja axis=1

In [7]:
columns_sort_null = year_pm10.isnull().sum().sort_values(ascending=True).index
year_pm10 = year_pm10[columns_sort_null]

In [8]:
year_pm10.interpolate(method='linear', axis=1, inplace=True)
"ilość nulli",year_pm10.isnull().sum().sum()

('ilość nulli', 163)

In [9]:
# year_pm10[columns_sort_null].plot(figsize=(25,50), legend=True, subplots=True)
# plt.savefig('time-series-pm10_after_interpolate_1_axis_columns.png')
# plt.show()
# plt.close()

druga interpolacja axis=0

In [10]:
year_pm10.interpolate(method='linear', axis=0, inplace=True)
"ilość nulli",year_pm10.isnull().sum().sum()

('ilość nulli', 0)

In [11]:
# year_pm10.plot(figsize=(25,50), legend=True, subplots=True)
# plt.savefig('time-series-pm10_after_interpolate_2_axis_index.png')
# plt.show()
# plt.close()